#main-container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center ;
}

#game-bar-box {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

#play-gamer-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 80px;
}

#play-gamer-bar .flag-img {
  height: 100px;
  width: 160px;
  object-fit: contain;

  margin-right: 20px;
}

#play-gamer-bar button {
  border: 2px solid rgb(38, 38, 38);
  border-radius: 4px;
  background-color: transparent;  
  cursor: pointer;

  padding: 12px 16px 12px 16px;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

#play-gamer-bar button img {
  height: 20px;
  width: 20px;
  object-fit: cover;

  margin: 0;
  margin-left: 8px;
  margin-right: 8px;
}

#play-gamer-bar button:hover {
  background-color: #262626;
  color: rgb(211, 211, 211);
}

#play-gamer-bar button:hover > img {
  filter: invert(73%) sepia(97%) saturate(0%) hue-rotate(134deg) brightness(97%) contrast(91%);
}

#play-gamer-bar .play-button {
  width: 350px;
  background-color: #4363d8;
  color: #d3d3d3;
  border-color: #4363d8;
}

#play-gamer-bar .play-button:hover {
  background-color: #4363d8bd;
  border-color: #4363d8bd;
}

#play-gamer-bar .resume-button:hover {
  background-color: #4363d8bd;
  border-color: #4363d8bd;
}

#play-gamer-bar input {
  margin: 0 20px 0 20px;
  padding: 10px;

  width: 250px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #808080;
  border-radius: 8px;
  box-sizing: border-box;
}

#time-score-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  position: relative;
}

.score-gg, .timer-gg {
  font-size: 20px;
  font-weight: 500;
  margin-right: 6px;
}

#timer, #score {
  font-size: 40px;
  font-weight: 700;
}

#time-score-box .score {
  margin-right: 20px;
}

#time-score-box .pause-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  height: 26px;
  width: 26px;
  border: 2px solid #262626;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

#time-score-box .pause-button img {
  height: 20px;
  width: 20px;
}

#time-score-box .pause-button:hover {
  background-color: #262626;
  color: #d3d3d3;
}

#time-score-box .pause-button:hover > img {
  filter: invert(73%) sepia(97%) saturate(0%) hue-rotate(134deg) brightness(97%) contrast(91%); 
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(157, 157, 157);
}

td {
  height: 100px;
  width: 140px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}

table img {
  height: 60px;
  width: 120px;
  object-fit: contain;
}

.change-background_of_cell {
  background-color: #4363d8bd;
}

#resume-container {
  z-index: 1000;
  background-color: #d4d4d4;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  font-weight: 700;
  font-size: 20px;
  color: darkred;
}

#resume-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  height: 80px;


  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  color: black;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#resume-container div .how-many-more {
  width: 190px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

#resume-container.visible {
  max-height: 100%;
  opacity: 1;
}

#resume-container.hidden {
  max-height: 0;
  opacity: 0;
}

#resume-button {
  width: 150px;
  background-color: #4363d8;
  color: #d3d3d3;

  border: 2px solid #4363d8;
  border-radius: 4px;
  cursor: pointer;

  padding: 12px 16px 12px 16px;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#resume-button:hover {
  background-color: #4363d89e;
  border-color: #4363d800;
}

#terminated-message {
  font-weight: 700;
  font-size: 25px;
  margin-right: 20px;
}